<mat-card>
  <mat-card-header>
    <div class="cover-photo"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-picture">
      <img src="assets/images/profile.jpeg" alt="Profile Picture" />
    </div>
    <h2>Jaishri Bhagat</h2>
    <p>Software Engineer | Angular Enthusiast</p>
    <div class="info-row">
      <div class="left-column">
        <p>Full Stack Developer | Angular, JavaScript , Java</p>
        <p>San Jose, California, United States</p>
      </div>
      <div class="right-column">
        <p>Cisco</p>
        <p>California State University-Los Angeles</p>
      </div>
    </div>
    <a href="https://www.linkedin.com/in/jaishri-bhagat/" target="_blank">
      <button mat-button color="primary">Connect</button>
    </a>
  </mat-card-content>
</mat-card>
